@import "@/styles/color.scss";

.list-card-animal-container {
  width: 95%;
  height: 12%;
  padding: 10px;
  background-color: $blue;
  border-radius: 13px;
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    cursor: pointer;
  }

  .basic-info {
    display: flex;
    gap: 10px;

    align-items: center;
    .card-info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        font-size: 20px;
        color: #000000;
      }

      p {
        text-align: start;
        font-size: 15px;
        color: #dddddd;
      }
    }
  }

  .gender-icon {
    justify-self: flex-end;
    width: 35px;
    height: 35px;
  }
}
