* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  /* overflow: hidden; */
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0f4c751f;
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #276690;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1f7ab7;
}
